/Client/nbproject/private/
/Common/nbproject/private/
/Server/nbproject/private/
/Agencija.Server/nbproject/private/
/Agencija.Client/nbproject/private/
/Agencija.Common/nbproject/private/
/ProjectPS/nbproject/private/
/Agencija.Common/build/
/Agencija.Common/dist/
/Agencija.Server/build/